*,
*::before,
*::after {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /*margin: auto;*/
    /*padding: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: 809fff;
    /*flex-direction: column;*/
    /*background: hsl(296, 41%, 8%);*/
    /* height: 100vh; */
    /* padding: 2px; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 100vh;
    border-radius: 15px;
    /*background: radial-gradient(#1c0c1d, #663267, #1c0c1d);*/
    background: #E5E4E2;
    overflow: hidden;
    border: 1px solid hsl(250, 50%, 60%);
    padding: 0px;
}

.welcomeHeader {
    width: 100%;
    background: #6b6dfa;
    height: 75px;
    border-radius: 15px 15px 0px 0px;
    border-top: 2px solid #000;
}

.welcomingBoxTop {
    display: flex;
    justify-content: center;
    align-items: centr;
    flex-direction: column;
    margin-top: 10px;
}

.logoBox img {
    Width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 15px;
}

.onetBox {
    text-align: center;
    margin: auto;
    padding: auto;
}

.welcomingBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #6b6dfa;
    border-radius: 35px 35px 0px 0px;
    height: 400px;
    padding: 30px 10px;
    padding-bottom: 80px;
    width: 100%;
    /*overflow: hidden;*/
}

.welcomingBottomTextUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;

}

.welcomingBottomTextWelcome span {
    font-family: Arial-black;
    font-zise: 36px;
    font-weigh: bold;
    text-transform: uppercase;
    /*text-align: center;*/
    margin: 5px 0px 10px;
    padding: 5px;

}

.welcomingBottomSlidersBox {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    overflow: hidden;
    /*flex-direction: row;*/
    /*padding: 5px;*/
    gap: 4px;
    margin: 10px 0px 10px;
    width: 100%;
    border-radius: 5px;
    animation: slide 16s infinite;
}

.welcomingBottomSliderImage {
    width: 210px;
    height: 100px;
    border: 1px solid black;
    /*margin: 5px 2px;*/
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.welcomingBottomActionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0px;
}

.welcomingBottomEmailField input {
    width: 300px;
    height: 45px;
    padding-left: 5px;
    font-zise: 2rem;
    border-radius: 5px;
}

.welcomingBottomLoginButton button {
    width: 150px;
    height: 40px;
    font-zise: 18px; 
    font-weigh: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

