*,
*::before,
*::after {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    /*padding: 0px;*/
    background: hsl(296, 41%, 8%); 
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    /* padding: 2px; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 100vh;
    border-radius: 15px;
    /*background: radial-gradient(#1c0c1d, #663267, #1c0c1d);*/
    background: #E5E4E2;
    overflow: hidden;
    border: 1px solid hsl(250, 50%, 60%);
    margin: 5px auto 5px;
    padding: 0px;
}

.welcomingBottom {
    background: #2E33F9;
    border-radius: 15px 15px 0px 0px;
    height: 400px;
    /*margin-bottom: 0px;*/
    padding: 20px;
}
