*,
*::before,
*::after {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /*margin: auto;*/
    /*padding: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    background: hsl(296, 41%, 8%);
    /* height: 100vh; */
    /* padding: 2px; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 100vh;
    border-radius: 15px;
    /*background: radial-gradient(#1c0c1d, #663267, #1c0c1d);*/
    background: #E5E4E2;
    overflow: hidden;
    border: 1px solid hsl(250, 50%, 60%);
    padding: 0px;
}

.welcomingBoxTop {
    display: flex;
    justify-content: center;
    align-items: centr;
    flex-direction: column;
    margin-top: 10px;
}

.logoBox img {
    Width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 15px;
}

.onetBox {
    text-align: center;
    margin: auto;
    padding: auto;
}

.welcomingBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #6b6dfa;
    border-radius: 35px 35px 0px 0px;
    height: 400px;
    padding: 30px 10px;
    padding-bottom: 80px;
    /*width: 100%;*/
    /*overflow: hidden;*/
}

.welcomingBottomTextUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomingBottomTextWelcome span {
    font-zise: 3rem;
    font-weigh: bold;
    text-transform: uppercase;
    /*text-align: center;*/
    margin: 5px 0px 10px;
}

.welcomingBottomSlidersBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: row;*/
    padding: 5px;
    gap: 4px;
}

.welcomingBottomSliderImage {
    width: 210px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    /*margin: 5px 2px;*/
}

.welcomingBottomActionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0px;
}

.welcomingBottomEmailField input {
    width: 300px;
    height: 45px;
    padding-left: 5px;
    font-zise: 2rem;
    border-radius: 5px;
}

.welcomingBottomLoginButton button {
    width: 150px;
    height: 40px;
    font-zise: 18px; 
    font-weigh: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

